.content {
   width: 70%;
   height: 500px;
   margin: 0 auto;
   text-align: center;
}

.select {
   width: 29%;
   height: 500px;
   background-color: #bfbfbf;
   height: 100%;
   margin: 0 auto;
   text-align: center;
}

body {
   margin: 0 0 0 0;
   font-family: 'Abel', sans-serif;
}

.content, .select {
   display: inline-block;
   font-family: 'Abel', sans-serif;
}

#dataset, #dim1, #dim2 {
   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   color: #ff3232;
   border: #ff3232 1px solid;
   margin-bottom: 20px;
}

input#submit {
	width: 150px !important;
	height: 30px !important;
	background: #ff3232;
	border: none;
	color: white;
	margin: 0 auto;
	text-align: center;
}

#toolbar-title {
   margin-top: 50px;
   margin-bottom: 50px;
}

#main-title {
   margin-top: 50px;
   margin-bottom: 50px;
}

#graph-1 {
   width: 80%;
   height: 300px;
}

#graph-1 {
   margin: 0 auto;
   text-align: center;
}

.input-label {
   font-size: 15px;
   margin-top: 0;
   margin-bottom: 5px;
}

/* PATIENT MODAL */

body #myModal {
   width: 90%;
   font-family: 'Abel', sans-serif;
}  

.modal-header {
   margin: 0 auto;
   text-align: center;
}

.key, .val {
   display: inline-block;
}

.val {
   color: #ff3232;
}

.modal-header {
   border-bottom: none !important;
}

